QProgressBar:horizontal {
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

QProgressBar::chunk:horizontal {
    background-color: #007bff;
    width: 15px;
    margin: 0.5px;
}
